<div class="container">
  <form (ngSubmit)="onSubmit()" [formGroup]="productForm">
    <button class="btn btn-success" type="submit">{{ btnLabel }}</button>
    <hr />
    <div class="row">
      <div class="col-8">
        <h4 class="h4">Product</h4>
        <label for="product_name">Name</label>
        <input
          class="form-control"
          type="text"
          name="product_name"
          id="product_name"
          formControlName="productName"
        />
        <label for="product_price">Price</label>
        <input
          class="form-control"
          type="number"
          name="product_price"
          id="product_price"
          formControlName="productPrice"
        />
        <label for="product_img">Image</label>
        <input
          class="form-control"
          type="text"
          name="product_img"
          id="product_img"
          formControlName="productImg"
        />
      </div>
      <div class="col text-center">
        <img
          *ngIf="productForm.value.productImg != ''"
          [src]="productForm.value.productImg"
          class="img-responsive rounded text-center"
          width="80%"
        />
        <h6
          *ngIf="productForm.value.productImg == ''"
          class="align-self-center"
        ></h6>
      </div>
    </div>
  </form>
</div>
