<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" routerLink="/">Logo</a>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a
        class="nav-item nav-link"
        [routerLink]="['/product']"
        routerLinkActive="active"
        >Products</a
      >
      <a
        class="nav-item nav-link"
        [routerLink]="['/shop']"
        routerLinkActive="active"
        >Shop</a
      >
    </div>
  </div>

  <div class="dropdown" [ngClass]="{ show: showdrop }" (click)="toggleDrop()">
    <button
      class="btn btn-secondary dropdown-toggle"
      type="button"
      id="dropdownMenuButton"
      data-toggle="dropdown"
      aria-haspopup="true"
      aria-expanded="false"
    >
      Profile
    </button>
    <div
      class="dropdown-menu"
      [ngClass]="{ show: showdrop }"
      aria-labelledby="dropdownMenuButton"
    >
      <a class="dropdown-item" (click)="onSignout()">Logout</a>
    </div>
  </div>
</nav>
