<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" routerLink="/">Logo</a>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a
        class="nav-item nav-link"
        [routerLink]="['/product']"
        routerLinkActive="active"
        >Products</a
      >
      <a
        class="nav-item nav-link"
        [routerLink]="['/shop']"
        routerLinkActive="active"
        >Shop</a
      >
      <!-- <a
        class="nav-item nav-link"
        [routerLink]="['/recipe']"
        routerLinkActive="active"
        >Recipes</a
      > -->
    </div>
  </div>

  <button mat-raised-button [matMenuTriggerFor]="menu">
    Profile
  </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item (click)="onOpenProfile()">My Profile</button>
    <button mat-menu-item (click)="onSignout()">Logout</button>
  </mat-menu>
</nav>
