<div class="container">
  <div class="row">
    <div class="table-responsive">
      <table class="table">
        <thead>
          <tr>
            <th>Image</th>
            <th>Name</th>
            <th>Price</th>
            <th>Amount</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of (shopListState | async).shops; let i = index">
            <th>
              <img
                [src]="item.product.img"
                alt="item.product.name"
                width="30pt"
              />
            </th>
            <th>{{ item.product.name }}</th>
            <th>{{ item.product.price }}</th>
            <th>
              <input type="number" class="form-control" [value]="item.amount" />
            </th>
            <th>
              <button class="btn btn-danger" (click)="onDelete(i)">
                Delete
              </button>
            </th>
          </tr>
        </tbody>
      </table>
    </div>
    <button class="btn btn-success" (click)="onFinish()">
      Finish
    </button>
  </div>
</div>
